*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 700px;
  width: 100%;
  background-image: url(./naturenature-1538623460.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
